# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

PyJWT[crypto]
requests
azure-functions
azure-cosmos
azure-identity
Werkzeug
uuid7
azure.storage.blob
google-genai
python-dateutil
Pillow
pytz