:root {
  --color-primary: #A100FF;
  --color-bg: #F4F1DE;
  --color-surface: #FFFFFF;
  --color-text: #0F0F0F;
  --color-accent: #00F5FF;
  --color-border: #E2E8F0;
  
  --font-main: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  
  --transition-fast: 150ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mono-text {
  font-family: var(--font-mono) !important;
}

#root {
  width: 100%;
}

